{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>
<style>
  table td {
    border: 1px solid black;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Component Name</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>template-only</td>
      <td>{{template-only}}</td>
    </tr>
    <tr>
      <td>angle-bracket template-only</td>
      <td><TemplateOnly /></td>
    </tr>
    <tr>
      <td>arg-wrapper itemComponentName="x-test-wrapper"</td>
      <td>{{arg-wrapper itemComponentName="x-test-wrapper"}}</td>
    </tr>
    <tr>
      <td>angle-bracket  arg-wrapper itemComponentName="x-test-wrapper"</td>
      <td><ArgWrapper @itemComponentName="x-test-wrapper" /></td>
    </tr>
    <tr>
      <td>name-wrapper</td>
      <td>{{name-wrapper}}</td>
    </tr>
    <tr>
      <td>angle-bracket name-wrapper</td>
      <td><NameWrapper /></td>
    </tr>
    <tr>
      <td>dynamic-component-t</td>
      <td>{{dynamic-component-t}}</td>
    </tr>
    <tr>
      <td>angle-bracket  dynamic-component-t</td>
      <td><DynamicComponentT /></td>
    </tr>
    <tr>
      <td>x-test-wrapper</td>
      <td>{{x-test-wrapper}}</td>
    </tr>
    <tr>
      <td>angle-bracket x-test-wrapper</td>
      <td><XTestWrapper /></td>
    </tr>
    <tr>
      <td>test-component</td>
      <td>{{test-component}}</td>
    </tr>
    <tr>
      <td>angle-bracket test-component</td>
      <td><TestComponent /></td>
    </tr>
    <tr>
      <td>boo-boo 1 2 3 foo="12"</td>
      <td>{{boo-boo 1 2 3 foo="12"}}</td>
    </tr>
    <tr>
      <td>yield</td>
      <td>{{yield}}</td>
    </tr>
    <tr>
      <td>foo-bar a=true </td>
      <td>{{foo-bar a=true}}</td>
    </tr>
    <tr>
      <td>angle-bracket foo-bar a=true </td>
      <td><FooBar @a={{true}} /></td>
    </tr>
    <tr>
      <td>
        {#let (hash foo=(component (concat "" "test-component"))) as |bofoo-bar|}
          {bofoo-bar}
        {/let}
      </td>
      <td>
        {{#let (hash foo=(component (concat "" "test-component"))) as |bofoo-bar|}}
          {{bofoo-bar.foo}}
        {{/let}}
      </td>
    </tr>
    <tr>
      <td>
        {#let (hash foo=(component (concat "" "test-component"))) as |FofooBar|}
           angle-bracket / FofooBar /
        {/let}
      </td>
      <td>
        {{#let (hash foo=(component (concat "" "test-component"))) as |FofooBar|}}
          <FofooBar.foo />
        {{/let}}
      </td>
    </tr>
    <tr>
      <td>modifier</td>
      <td><FooBar {{noop-modifier}} /></td>
    </tr>
    <tr>
      <td>attribute</td>
      <td><FooBar disabled={{false}} /></td>
    </tr>
    <tr>
      <td>angle-bracket template-only-component with internal children</td>
      <td>
        <TemplateOnlyComponent>
          <div>child</div>
        </TemplateOnlyComponent>
      </td>
    </tr>
    <tr>
      <td>named-blocks</td>
      <td>
        <NamedBlocks>
          <:body>
            Body block content
          </:body>
        </NamedBlocks>
      </td>
    </tr>
  </tbody>
</table>

{{outlet}}

{{!-- {{component (hot-load "test-component")}} --}}
