<h2 id="title">Welcome to Ember</h2>
{{template-only}}
<button type="button" {{action "reload" target=this.hotLoader}}>Redraw</button>
111
{{arg-wrapper itemComponentName="x-test-wrapper"}}
111
{{dynamic-component-t}}
222
{{x-test-wrapper}}
222
{{outlet}}

{{!-- {{component (hot-load "test-component")}} --}}
{{test-component}}
{{test-component}}

{{#each items as |item|}}
  {{test-component item=item}}
{{/each}}


{{boo-boo 1 2 3 foo="12"}}


{{yield}}
||{{foo-bar a=true }}||

{{#let (hash foo=(component (concat "" "test-component"))) as |bofoo-bar|}}
  {{bofoo-bar}}
{{/let}}