<h2 id="title">Welcome to Ember</h2>

<button type="button" {{action "reload" target=this.hotLoader}}>Redraw</button>

{{dynamic-component-t}}

{{outlet}}

{{!-- {{component (hot-load "test-component")}} --}}
{{test-component}}
{{test-component}}

{{#each items as |item|}}
	{{test-component}}
{{/each}}


{{boo-boo 1 2 3 foo="12"}}